.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
}


.text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.centered-content {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;    
}
