.headerStyle {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 24px;
};

.title{
    position: relative;
    flex: 1 0 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 0px;
}

.right_nav{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: relative;
    border-radius: inherit;
    padding: 12px;
}